<!-- Add Rapport -->
				<div class="modal fade" id="addProjectSidebar">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Create Rapport</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label class="text-black font-w500">Rapport Title</label>
										<input type="text" class="form-control">
									</div>
									
									<div class="form-group">
										<label class="text-black font-w500">Subject</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label class="text-black font-w500">Message</label>
										<textarea class="form-control" id="form4Example3" rows="4"></textarea>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary">CREATE</button>
									</div>
									
									 
								</form>
							</div>
						</div>
					</div>
				</div>